<!DOCTYPE html>
<html lang="en">
<head>
	<title>Mobile Associates - SEO Portal</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
	<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	<link href='https://fonts.googleapis.com/css?family=Palanquin:600' rel='stylesheet' type='text/css'>
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700'>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script>
		window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;

	

	</script>
	<script type="text/javascript" async="" src="https://www.google.com/jsapi"></script><script type="text/javascript" async="" src="https://www.google.com/jsapi"></script>
	<script src="https://apis.google.com/js/platform.js" gapi_processed="true"></script><script>window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;</script>
	<script async="" src="https://www.google-analytics.com/analytics.js"></script>

	<script async src="https://www.google-analytics.com/analytics.js"></script>

	<script>
		(function(w,d,s,g,js,fs){
			g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
			js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
			js.src='https://apis.google.com/js/platform.js';
			fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
		}(window,document,'script'));
	</script>

	<link rel="stylesheet" href="lib/angular-material/angular-material.css"/>
	<link rel="stylesheet" href="lib/angular-ui-grid/ui-grid.css"/>
	<link rel="stylesheet" href="css/styles.css"/>
	<link rel="stylesheet" href="css/app.css"/>
	<link rel="stylesheet" href="css/font-awesome.css"/>
	<link rel="stylesheet" href="css/ionicons.min.css"/>
	<script type="text/javascript">
		google.charts.load('current', {'packages':['corechart', 'table']});

	</script>

	<script type="text/javascript"
		src='https://www.google.com/jsapi?autoload={
        "modules":[{
        "name":"visualization",
        "version":"1"
        }]
      }'></script>

	<meta name="google-signin-client_id" content="598123322729-91cbmds83g0uh0u9elf7ji3cqbtljbjm.apps.googleusercontent.com">
	<style type="text/css">
		[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
			display: none !important;
		}
	</style>
</head>

<body ng-app="app" layout="column" ng-controller="AppCtrl as app" style=" margin: 0; padding: 0; width: 100%; height: 100%;"  class="ng-cloak"  ng-init="checkAuth()">
<md-toolbar class="md-primary md-hue-2 md-whiteframe-1dp"  style="background-color: #000E19; text-align: right; z-index: 10; height: 45px; min-height: 40px;">
	<md-button class="menu" ng-click="toggleLeft()" style="position: absolute; left: 20px; ">
		<md-icon class="material-icons" style="color: #fff;">menu</md-icon>
	</md-button>
	<span flex></span>

	<div style="text-align: right; margin-right: 20px; margin-bottom: 8px; font-size: 0.9em;">
		<i class="icon ion-social-twitter" style="font-size: 1.2em;" ></i>
		<i style="margin-left: 20px; font-size: 1.2em;" class="icon ion-social-googleplus"></i>
		<i style="margin-left: 20px; font-size: 1.2em;" class="icon ion-social-linkedin"></i>
		<i style="margin-left: 20px; font-size: 1.2em;" class="icon ion-social-facebook"></i>
		<span style="margin-right: 40px;" flex></span>
		<span style="margin-right: 10px; font-size: 1.2em;" flex></span>
	</div>
</md-toolbar>
<md-toolbar layout="row" layout-align="center center" style="z-index: 10; height: 95px; background-color: #0072D0;">
	<div layout="row" layout-align="center space-around" style="text-align: left;">
		<img src="img/ma_whiteM.png" style="height: 40px; width: 59px; position: absolute; left: 80px; opacity: 0.9; margin-top: 15px;" />
		<span style="position: absolute; left: 150px; top: 0px;">
			<h1 class="md-display-4"  style="font-size: 36px; margin-top: 0px; font-family: 'Raleway'; opacity: 0.9; font-weight: 300; color: #fff; ">
			Mobile<span style="color: #fff;">Associates</span>
		</h1>
		</span>
		

		<div layout="row" class="md-toolbar-tools" style="width: 100%; text-align: right;" layout-align="center end">
			
			<section  id="auth-button" ng-click="" style="color: #fff; font-size: 0.7em; position: absolute; margin-top: 22px; right: 160px;"></section>
			
			<img src="img/round_profile.png"  ng-hide="profileImg.src == ''" style="border: none; width: 60px; height: 60px; position: absolute; top: 2px; margin-top: 0px; right: 95px; opacity: 0.9;">
					
			<md-button class="md-warn md-hue-1" ng-click="logout()" style="font-size: 0.7em; position: absolute; margin-top: 0px; margin-bottom: 10px; right: 180px; top: 0;">Logout</md-button>
		</div>

	</div>
</md-toolbar>

<div flex layout="row" style="top: 50px;">
	<md-sidenav md-component-id="left" class="md-sidenav-left md-whiteframe-z2 md-primary" style="width: 240px; ">
		<md-toolbar layout="row" layout-align="end center" class="md-primary" >
			<div class="md-toolbar-tools">
				<h2>
					<span style="border: none;">Menu</span>
				</h2>
				<span flex></span>
				<md-button class="menu" ng-click="close()">
					<md-icon md-svg-icon="menu"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-content role="navigation">
			<ul class="side-menu">
				<li ng-repeat="section in app.menu.sections" class="parent-list-item" ng-class="{'parentActive' : app.isSectionSelected(section)}">
					<h2 class="menu-heading" ng-if="section.type === 'heading'"	id="heading_{{ section.name | nospace }}">
						{{section}}
					</h2>
					<menu-link section="section" ng-click="close()" ng-if="section.type === 'link'"></menu-link>
					<menu-toggle section="section" ng-if="section.type === 'toggle'"></menu-toggle>
				</li>
			</ul>
		</md-content>
	</md-sidenav>
	<md-content style="width: 100%; " class="hide-scroll " >

		<div ui-view="menu" layout="row" layout-align="center start" style="width: 100%; height: 100%; top: 0px; position: absolute; background: none;">

		</div>
	</md-content>
</div>

<script src="lib/angular/angular.js"></script>
<script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
<script src="lib/angular-animate/angular-animate.js"></script>
<script src="lib/angular-aria/angular-aria.js"></script>
<script src="lib/angular-resource/angular-resource.js"></script>
<script src="lib/angular-cookies/angular-cookies.js"></script>
<script src="lib/angular-messages/angular-messages.js"></script>
<script src="lib/angular-material/angular-material.js"></script>
<script src="lib/angular-filter/dist/angular-filter.js"></script>
<script src="lib/angular-google-gapi/dist/angular-google-gapi.js"></script>
<script src="lib/angular-input-modified/dist/angular-input-modified.js"></script>
<script src="lib/ng-file-upload/ng-file-upload-shim.min.js"></script>
<script src="lib/ng-file-upload/ng-file-upload.min.js"></script>
<script src="lib/angular-ui-grid/ui-grid.min.js"></script>
<script src="lib/oclazyload/dist/ocLazyLoad.js"></script>
<script src="lib/angular-blu/angular-blu.js"></script>
<script src="js/view-dist.js"></script>
<script src="js/date-dist.js"></script>

<script src="portal/js/app.js"></script>
<script src="portal/js/controllers.js"></script>
<script src="portal/js/directives.js"></script>
<script src="portal/js/services.js"></script>
<script src="js/lb-services.js"></script>

<script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>

</body>
</html>
