@function my-lightener($color-value, $amount) {
  $lightness: lightness($color-value);
  $saturation: saturation($color-value);
  $hue: hue($color-value);

  @if $saturation < 1 {
	// for all shades of black
	@return lighten($color-value, ($amount * 10%));
  }

  @else if($lightness >= 90) {
	@if($saturation <= 10) {
	  @return $color-value;
	}
	@else if($saturation <=50) {
	  @return desaturate($color-value, ($amount * 1%));
	}
	@else {
	  @return desaturate($color-value, ($amount * 3%));
	}
  }

  @else if($lightness <= 30) {
	@if($saturation <= 30) {
	  @return saturate(lighten($color-value, ($amount * 10%)), ($amount * 3%));
	}
	@else {
	  @return desaturate(lighten($color-value, ($amount * 10%)), ($amount * 1%));
	}
  }

  @else if($saturation <= 50) {
	@if($lightness <= 65) {
	  @return saturate(lighten($color-value, ($amount * 8%)), ($amount * 1%));
	}
	@else {
	  @return saturate(lighten($color-value, ($amount * 2%)), ($amount * 3%));
	}
  }

  @else if($lightness >= 65)  {
	@if ($saturation >= 80) {
	  @return desaturate(lighten($color-value, ($amount * 2%)), ($amount * 5%));
	}
	@return saturate(lighten($color-value, ($amount * 3%)), ($amount * 2%));
  }

  @else if ($saturation >= 80) {
	@if ($lightness >= 30 and $lightness <=80) {
	  @return desaturate(lighten($color-value, ($amount * 7%)), ($amount * 1%));
	} @else {
	  @return desaturate(lighten($color-value, ($amount * 5%)), ($amount * 1%));
	}
  }

  @else if($lightness >= 30 and $saturation >= 40) {
	@return saturate(lighten($color-value, ($amount * 8%)), ($amount * 1%));
  }

  @else {
	$lightness: lightness(lighten($color-value, ($amount * 6%)));
	$saturation: saturation(saturate($color-value, ($amount * 4%)));
	$new-color-value: hsl($hue, $saturation, $lightness);

	@return $new-color-value;
  }
}

@function my-darkener($color-value, $amount) {
  $lightness: lightness($color-value);
  $saturation: saturation($color-value);
  $hue: hue($color-value);

  @if $saturation <= 1 or $lightness <= 10 {
	@return $color-value;
  }

  @else if($lightness < 20)  {
	@if ($saturation >= 70) {
	  @return desaturate(darken($color-value, ($amount * 2%)), ($amount * 2%));
	}
	@else {
	  @return desaturate(darken($color-value, ($amount * 4%)), ($amount * 2%));
	}

  }
  @else if($saturation >= 80) {
	@if ($lightness >= 50) {
	  @return desaturate(darken($color-value, ($amount * 11%)), ($amount * 4%));
	} @else {
	  @return desaturate(darken($color-value, ($amount * 6%)), ($amount * 2%));
	}
  }

  @else if ($lightness <= 50) {
	@if ($saturation >= 50) {
	  @return desaturate(darken($color-value, ($amount * 4%)), ($amount * 3%));
	}
	@return desaturate(darken($color-value, ($amount * 5%)), ($amount * 2%));
  }

  @else if ($lightness >= 50) {
	@if ($saturation >= 50) {
	  @return saturate(darken($color-value, ($amount * 8%)), ($amount * 1%));
	}
	@return saturate(darken($color-value, ($amount * 8%)), ($amount * 5%));
  }

  @else {
	$lightness: lightness(darken($color-value, ($amount * 6%)));
	$saturation: saturation(desaturate($color-value, ($amount * 4%)));
	$new-color-value: hsl($hue, $saturation, $lightness);
	@return $new-color-value;
  }
}


@function get-sat($color-value) {
  $saturation: saturation($color-value);
  @return inspect($saturation);
}

@function get-light($color-value) {
  $lightness: lightness($color-value);
  @return inspect($lightness);
}

$primary: #3C6997;
$primary-dark: #2D4E71;
$primary-light: #4B84BD;
$primary-accent: #132231;
$secondary: #4CAD55;
$secondary-dark: #419348;
$secondary-light: #52BA5B;
$secondary-accent: #306D36;
$favorite: #662F4A;
$favorite-dark: #592941;
$favorite-light: #A54C79;
$favorite-accent: #3F1D2E;
$favorite: #E8C547;
$danger-dark: #CEAF3F;
$danger-light: #F5D04B;
$danger-accent: #A88F33;
$neutral: #DFD9E5;
$neutral-dark: #BAB5BF;
$neutral-light: #F8F1FF;
$neutral-accent: #7C787F;
$dark-bg: #3E3C40;

.primary-bg { background-color: #004884;}
.primary-dark-bg { background-color: #003A6A;}
.primary-light-bg { background-color: #0072D0;}
.primary-accent-bg { background-color: #002544;}
.secondary-bg { background-color: #228CDB;}
.secondary-dark-bg { background-color: #18639B;}
.secondary-light-bg { background-color: #2494E8;}
.secondary-accent-bg { background-color: #0E3A5B;}
.favorite-bg { background-color: #06A77D;}
.favorite-dark-bg { background-color: #058D6A;}
.favorite-light-bg { background-color: #09F3B6;}
.favorite-accent-bg { background-color: #04674D;}
.danger-bg { background-color: #F18F01;}
.danger-dark-bg { background-color: #D78001;}
.danger-light-bg { background-color: #FE9701;}
.danger-accent-bg { background-color: #714300;}
.neutral-bg { background-color: #E2DEDF;}
.neutral-dark-bg { background-color: #BCB9B9;}
.neutral-light-bg { background-color: #FCF7F8;}
.neutral-accent-bg { background-color: #7C7A7B;}
.dark-bg-bg { background-color: #3E3C40;}
.primary-color { color: #004884;}
.primary-dark-color { color: #003A6A;}
.primary-light-color { color: #0072D0;}
.primary-accent-color { color: #002544;}
.secondary-color { color: #228CDB;}
.secondary-dark-color { color: #18639B;}
.secondary-light-color { color: #2494E8;}
.secondary-accent-color { color: #0E3A5B;}
.favorite-color { color: #06A77D;}
.favorite-dark-color { color: #058D6A;}
.favorite-light-color { color: #09F3B6;}
.favorite-accent-color { color: #04674D;}
.danger-color { color: #F18F01;}
.danger-dark-color { color: #D78001;}
.danger-light-color { color: #FE9701;}
.danger-accent-color { color: #714300;}
.neutral-color { color: #E2DEDF;}
.neutral-dark-color { color: #BCB9B9;}
.neutral-light-color { color: #FCF7F8;}
.neutral-accent-color { color: #7C7A7B;}
.dark-color-color { color: #3E3C40;}

.tblCls {
  font-size: 18px;

}


.tblHeaderCls {
  display: none;
}

.tblClsSm {
  font-size: 16px;

}