<md-content style="width: 100%; top: 0px; padding: 0px;" layout="row" class="hide-scroll" flex layout-align="center" ng-init="initPage()">
	<md-content style="width: 100%; margin-left: 80px; margin-right: 80px;" >
		<div layout="row" layout-align="center center">
			<img src="/img/ma_logo.png" style="width: 600px;">
		</div>
		<div layout="row" layout-align="center center" style="margin-left: 30px;">
			<span style="font-size: 6em; font-weight: 300; color: #65A300;">SEO&nbsp;</span><span style="font-size: 6em; font-weight: 300; color: #003A6A;"> PORTAL</span>
		</div>
		<div layout="row" layout-align="center center" style="margin-left: 30px;">
			<i class="material-icons" style="font-size: 12em; font-weight: 300; color: #3A1772;">search</i>
		</div>
		<div layout="row" layout-align="center center" style="margin-left: 30px;">
			<section  id="authorize-button" ng-click="" style="color: #666; font-size: 0.7em;"></section>
		</div>
		

	</md-content>
</md-content>
