<md-content style="width: 100%; top: 20px;" layout="row" class="hide-scroll" flex layout-align="center">

<md-content class="hide-scroll md-whiteframe-1dp md-hue-1" flex layout-align="center" style=" width: 100%; margin-left: 150px; margin-right: 150px;" >
	<md-toolbar  class="md-primary" style="font-size: 20px;">
		<div class="md-toolbar-tools">
			<span>Data Management</span>
			<!-- fill up the space between left and right area -->
			<span flex></span>

		</div>
	</md-toolbar>
	<md-tabs md-dynamic-height md-border-bottom class="md-hue-1 md-whiteframe-1dp">
		<md-tab class="md-accent md-hue-1" label="Add Keywords">
			<md-tab-body>
				<div layout="row">
					<span flex>&nbsp;</span>
					<section style="padding: 40px; text-align: left;" flex="50">
						<form name="keyForm" >

							<md-input-container class="md-block">
								<label>Keywords</label>
								<textarea ng-model="keywords.list" name="list" rows="20" md-select-on-focus required></textarea>
							</md-input-container>

							<md-input-container class="md-block"  style="padding: 10px 0;">
								<label>Company</label>
								<md-select ng-model="keywords.companyId" name="company" required>
									<md-option ng-repeat="myCompany in myCompanies" value="{{myCompany.id}}">
										{{myCompany.name}}
									</md-option>
								</md-select>
								<div ng-messages="keyForm.company.$error">
									<div ng-message="required">This is required.</div>
								</div>
							</md-input-container>
							<div layout-gt-sm="row" layout-align="end center">
								<div class="md-button md-raised md-warn" ng-click="keywords(keywords.list)" ng-disabled="keyForm.$invalid" ng-model="keywords">
									Upload Keywords
								</div>

							</div>
						</form>
					</section>
					<span flex>&nbsp;</span>
				</div>
			</md-tab-body>
		</md-tab>
		<md-tab label="Add Competitors">
			<md-tab-body>
				<div layout="row">
					<span flex>&nbsp;</span>
					<section style="padding: 40px; text-align: left;" flex="50">
						<form name="complexForm" novalidate>
							<div class="md-headline" ng-show="successMsg == true">Success!</div>
							<div layout-gt-sm="row">
								<md-input-container class="md-block" flex-gt-sm>
									<label>Name</label>
									<input type="text" ng-model="newComp.name" name="name" required>
									<div ng-messages="complexForm.name.$error">
										<div ng-message="required">This is required.</div>
									</div>
								</md-input-container>
							</div>
							<div layout-gt-sm="row">
								<md-input-container class="md-block" flex-gt-sm>
									<label>URL</label>
									<input type="text" ng-model="newComp.url" name="url" required>
									<div ng-messages="complexForm.url.$error">
										<div ng-message="required">This is required.</div>
									</div>
								</md-input-container>
							</div>
							<md-input-container class="md-block">
								<label>Company</label>
								<md-select ng-model="newComp.companyId" name="companyId" required>
									<md-option ng-repeat="company in companies" value="{{company.id}}">
										{{company.name}}
									</md-option>
								</md-select>
								<div ng-messages="complexForm.companyId.$error">
									<div ng-message="required">This is required.</div>
								</div>
							</md-input-container>
							<div layout-gt-sm="row" layout-align="end center">
								<md-button name="login" ng-click="addCompetitor(complexForm)" class="md-raised md-warn" ng-disabled="complexForm.$invalid">Save</md-button>
							</div>
						</form>
					</section>
					<span flex>&nbsp;</span>
				</div>

			</md-tab-body>
		</md-tab>
	</md-tabs>
	 <md-divider ></md-divider>
  </md-content>
</md-content>