<md-content style="width: 100%; top: 0px; padding: 0px;" layout="row" class="hide-scroll" flex layout-align="center" ng-init="initPage()">
	<md-content class="md-hue-1" flex layout-align="center" style="border: 1px solid #d8d8d8; width: 100%; margin-left: 80px; margin-right: 80px;" >
		<md-toolbar class="md-primary" style="font-size: 20px; border-top-left-radius: 4px; border-top-right-radius: 4px;">
			<div class="md-toolbar-tools">
				<span flex="25"><h2><span>View Reports</span></h2></span>
				<span flex="50" style="text-align: center;">{{ selected }}</span>
				<span flex="25" style="text-align: right;">
					<md-menu md-position-mode="target-right target" >
						<md-button aria-label="Open demo menu" class="md-button" ng-click="$mdOpenMenu($event)">
							Select Client
							<md-icon class="material icons">contacts</md-icon>
						</md-button>
						<md-menu-content width="4" >
							<md-menu-item ng-repeat="company in companies">
								<md-button ng-click="viewReports(company)">
									<div layout="row" flex>
										<p flex>{{company.name}}</p>
									</div>
								</md-button>
							</md-menu-item>
						</md-menu-content>
					</md-menu>
				</span>
			</div>
		</md-toolbar>
		<md-tabs md-dynamic-height md-border-bottom class="md-hue-1 md-whiteframe-1dp">
			<md-tab class="md-accent md-hue-1" label="Keyword Report" style="width: 100%; height: 100%;">
				<md-tab-body style="width: 100%; height: 100%">
					<div layout="row" layout-align="start center" style="background-color: #f7f7f7; padding-bottom: 10px;">
						<div layout="column" style="width: 100%; margin: 10px;" id='myChart'></div>
					</div>

					<div ui-grid="gridOptions" ui-grid-selection style="margin-top: 0px; font-size: 0.8em;" class="myGrid"></div>
				</md-tab-body>
			</md-tab>
			<md-tab class="md-accent" label="Competitor Report" >
				<md-tab-body>
					<div layout="row" layout-align="start center" style="width: 100%;">
						<div layout="column" style="width: 100%; ">
							<div layout="row" layout-align="start center" style="background-color: #f7f7f7; padding: 20px; width: 100%; ">
								<div layout="column" flex style="height: 300px; margin-right: 20px;">
									<div id="authority-chart"  style="width: 100%; height: 300px; border-radius: 6px;"></div>
								</div>
								<div layout="column"  flex  style="height: 300px; ">
									<div id="rank-chart"  style="width: 100%; height: 300px; border-radius: 6px;"></div>
								</div>
							</div>
						</div>
					</div>
					<div layout="row" layout-align="start center" style="width: 100%;">
						<div layout="column" style="width: 100%; ">
							<div layout="row" layout-align="start center" style="background-color: #f7f7f7; padding: 20px; width: 100%; ">
								<div layout="column" flex style="height: 300px; margin-right: 20px;">
									<div id="trust-chart"  style="width: 100%; height: 300px; border-radius: 6px;"></div>
								</div>
								<div layout="column"  flex  style="height: 300px; ">
									<div id="link-chart"  style="width: 100%; height: 300px; border-radius: 6px;"></div>
								</div>
							</div>
						</div>
					</div>


					<div  ui-grid="compOptions" ui-grid-selection style="margin-top: 0px; font-size: 0.8em;" class="myGrid"></div>

				</md-tab-body>
			</md-tab>
			<md-tab class="md-accent" label="Dashboard" >
				<md-tab-body >
					<section layout="row" layout-align="start start" style="background-color: #f7f7f7; padding-left: 20px; padding-right: 20px;" layout-wrap>
						<div layout="column" layout-align="start center" style="color: #fff; box-shadow: 1px 1px #e0e0e0; background-color: #fff; border-radius: 6px; width: 280px; height: 150px; margin: 20px;">
							<div layout="row" layout-align="start start" style="width: 100%; height: 100%;">
								<div layout="column" layout-align="center center" ng-style="(lastPosition > totalPosition) ? {'background-color': '#65A300'} : {'background-color': '#77013C'}" flex="30" style="background-color: #228CDB; border-top-left-radius: 6px; border-bottom-left-radius: 6px; font-size: 1.2em; width: 100%; height: 100%;">
									<span style="font-size: 1em; color: #fff;"><span ng-if="(totalPosition - lastPosition) > 0">+</span>{{ totalPosition - lastPosition | number:2 }}</span>
									 <span style="font-size: 2em; color: #fff;" ng-if="lastPosition > totalPosition">
										 <i class="icon ion-arrow-down-a"></i>
									</span>
									 <span style="font-size: 2em; color: #fff;" ng-if="lastPosition < totalPosition">
										 <i class="icon ion-arrow-up-a"></i>
									</span>
								</div>
								<div layout="column" flex="70" layout-align="start center" style="padding-top: 10px; margin-bottom: 15px;">
									<span  style="color: #666; font-size: 1.2em;" ng-style="(lastPosition > totalPosition) ? {'color': '#65A300'} : {'color': '#6A0136'}">POSITION</span>
									<span flex>&nbsp;</span>
									<span  style="color: #444; font-size: 2em; padding-bottom: 10px;" ng-style="(lastPosition > totalPosition) ? {'color': '#65A300'} : {'color': '#6A0136'}">{{ totalPosition | number:2 }}</span>
									<span  style="color: #999; font-size: 0.8em;">Last Month:</span>
									<span  style="color: #666; font-size: 1.2em; ">{{ lastPosition | number:2 }}</span>
									<span flex>&nbsp;</span>
								</div>
							</div>
						</div>
						<div layout="column" layout-align="start center" style="color: #fff; box-shadow: 1px 1px #e0e0e0; background-color: #fff; border-radius: 6px; width: 280px; height: 150px; margin: 20px;">
							<div layout="row" layout-align="start start" style="width: 100%; height: 100%;">
								<div layout="column" layout-align="center center" ng-style="(lastImpressions > totalImpressions) ? {'background-color': '#77013C'} : {'background-color': '#65A300'}" flex="30" style="background-color: #228CDB; border-top-left-radius: 6px; border-bottom-left-radius: 6px; font-size: 1.2em; width: 100%; height: 100%;">
									<span style="font-size: 1em; color: #fff;"><span ng-if="(totalImpressions - lastImpressions) > 0">+</span>{{ totalImpressions - lastImpressions | number:0 }}</span>
									 <span style="font-size: 2em; color: #fff;" ng-if="lastImpressions > totalImpressions">
										 <i class="icon ion-arrow-down-a"></i>
									</span>
									 <span style="font-size: 2em; color: #fff;" ng-if="lastImpressions < totalImpressions">
										 <i class="icon ion-arrow-up-a"></i>
									</span>
								</div>
								<div layout="column" flex="70" layout-align="start center" style="padding-top: 10px; margin-bottom: 15px;">
									<span  style="color: #003A6A; font-size: 1.2em;" ng-style="(lastImpressions > totalImpressions) ? {'color': '#6A0136'} : {'color': '#65A300'}">IMPRESSIONS</span>
									<span flex>&nbsp;</span>
									<span  style="color: #444; font-size: 2em; padding-bottom: 10px;" ng-style="(lastImpressions > totalImpressions) ? {'color': '#6A0136'} : {'color': '#65A300'}">{{ totalImpressions | number:0 }}</span>
									<span  style="color: #999; font-size: 0.8em;">Last Month:</span>
									<span  style="color: #666; font-size: 1.2em; ">{{ lastImpressions | number:0 }}</span>
									<span flex>&nbsp;</span>
								</div>
							</div>
						</div>
						<div layout="column" layout-align="start center" style="color: #fff; box-shadow: 1px 1px #e0e0e0; background-color: #fff; border-radius: 6px; width: 280px; height: 150px; margin: 20px;">
							<div layout="row" layout-align="start start" style="width: 100%; height: 100%;">
								<div layout="column" layout-align="center center" ng-style="(lastClicks > totalClicks) ? {'background-color': '#77013C'} : {'background-color': '#65A300'}" flex="30" style="background-color: #228CDB; border-top-left-radius: 6px; border-bottom-left-radius: 6px; font-size: 1.2em; width: 100%; height: 100%;">
									<span style="font-size: 1em; color: #fff;"><span ng-if="(totalClicks - lastClicks) > 0">+</span>{{ totalClicks - lastClicks | number:0 }}</span>
									 <span style="font-size: 2em; color: #fff;" ng-if="lastClicks > totalClicks">
										 <i class="icon ion-arrow-down-a"></i>
									</span>
									 <span style="font-size: 2em; color: #fff;" ng-if="lastClicks < totalClicks">
										 <i class="icon ion-arrow-up-a"></i>
									</span>
								</div>
								<div layout="column" flex="70" layout-align="start center" style="padding-top: 10px; margin-bottom: 15px;">
									<span  style="color: #666; font-size: 1.2em;" ng-style="(lastClicks > totalClicks) ? {'color': '#6A0136'} : {'color': '#65A300'}">CLICKS</span>
									<span flex>&nbsp;</span>
									<span  style="color: #444; font-size: 2em; padding-bottom: 10px;" ng-style="(lastClicks > totalClicks) ? {'color': '#6A0136'} : {'color': '#65A300'}">{{ totalClicks | number:0 }}</span>
									<span  style="color: #999; font-size: 0.8em;">Last Month:</span>
									<span  style="color: #666; font-size: 1.2em; ">{{ lastClicks | number:0 }}</span>
									<span flex>&nbsp;</span>
								</div>
							</div>
						</div>
						<div layout="column" layout-align="start center" style="color: #fff; box-shadow: 1px 1px #e0e0e0; background-color: #fff; border-radius: 6px; width: 280px; height: 150px; margin: 20px;">
							<div layout="row" layout-align="start start" style="width: 100%; height: 100%;">
								<div layout="column" layout-align="center center" ng-style="(lastctr > totalctr) ? {'background-color': '#77013C'} : {'background-color': '#65A300'}" flex="30" style="background-color: #228CDB; border-top-left-radius: 6px; border-bottom-left-radius: 6px; font-size: 1.2em; width: 100%; height: 100%;">
									<span style="font-size: 1em; color: #fff;"><span ng-if="(totalctr - lastctr) > 0">+</span>{{ totalctr - lastctr | number:2 }}%</span>
									 <span style="font-size: 2em; color: #fff;" ng-if="lastctr > totalctr">
										 <i class="icon ion-arrow-down-a"></i>
									</span>
									 <span style="font-size: 2em; color: #fff;" ng-if="lastctr < totalctr">
										 <i class="icon ion-arrow-up-a"></i>
									</span>
								</div>
								<div layout="column" flex="70" layout-align="start center" style="padding-top: 10px; margin-bottom: 15px;">
									<span  style="color: #666; font-size: 1.2em;" ng-style="(lastctr > totalctr) ? {'color': '#6A0136'} : {'color': '#65A300'}">CTR</span>
									<span flex>&nbsp;</span>
									<span  style="color: #444; font-size: 2em; padding-bottom: 10px;" ng-style="(lastctr > totalctr) ? {'color': '#6A0136'} : {'color': '#65A300'}">{{ totalctr | number:2 }}%</span>
									<span  style="color: #999; font-size: 0.8em;">Last Month:</span>
									<span  style="color: #666; font-size: 1.2em; ">{{ lastctr | number:2 }}%</span>
									<span flex>&nbsp;</span>
								</div>
							</div>
						</div>
						<div layout="column" layout-align="start center" style="color: #fff; box-shadow: 1px 1px #e0e0e0; background-color: #fff; border-radius: 6px; width: 280px; height: 150px; margin: 20px;">
							<div layout="row" layout-align="start start" style="width: 100%; height: 100%;">
								<div layout="column" layout-align="center center" ng-style="(lastPageLoadtime > totalPageLoadtime) ? {'background-color': '#65A300'} : {'background-color': '#77013C'}" flex="30" style="background-color: #228CDB; border-top-left-radius: 6px; border-bottom-left-radius: 6px; font-size: 1.2em; width: 100%; height: 100%;">
									<span style="font-size: 1em; color: #fff;"><span ng-if="(totalPageLoadtime - lastPageLoadtime) > 0">+</span>{{(totalPageLoadtime - lastPageLoadtime)*1000 | date:'mm:ss' }}</span>
									 <span style="font-size: 2em; color: #fff;" ng-if="lastPageLoadtime > totalPageLoadtime">
										 <i class="icon ion-arrow-down-a"></i>
									</span>
									 <span style="font-size: 2em; color: #fff;" ng-if="lastPageLoadtime < totalPageLoadtime">
										 <i class="icon ion-arrow-up-a"></i>
									</span>
								</div>
								<div layout="column" flex="70" layout-align="start center" style="padding-top: 10px; margin-bottom: 15px;">
									<span  style="color: #666; font-size: 1.2em;" ng-style="(lastPageLoadtime > totalPageLoadtime) ? {'color': '#65A300'} : {'color': '#6A0136'}">PAGE LOAD</span>
									<span flex>&nbsp;</span>
									<span  style="color: #444; font-size: 2em; padding-bottom: 10px;" ng-style="(lastPageLoadtime > totalPageLoadtime) ? {'color': '#65A300'} : {'color': '#6A0136'}">{{ totalPageLoadtime*1000 | date:'mm:ss' }}</span>
									<span  style="color: #999; font-size: 0.8em;">Last Month:</span>
									<span  style="color: #666; font-size: 1.2em; ">{{ lastPageLoadtime*1000 | date:'mm:ss' }}</span>
									<span flex>&nbsp;</span>
								</div>
							</div>
						</div>
						<div layout="column" layout-align="start center" style="color: #fff; box-shadow: 1px 1px #e0e0e0; background-color: #fff; border-radius: 6px; width: 280px; height: 150px; margin: 20px;">
							<div layout="row" layout-align="start start" style="width: 100%; height: 100%;">
								<div layout="column" layout-align="center center" ng-style="(lastSessions > totalSessions) ? {'background-color': '#77013C'} : {'background-color': '#65A300'}" flex="30" style="background-color: #228CDB; border-top-left-radius: 6px; border-bottom-left-radius: 6px; font-size: 1.2em; width: 100%; height: 100%;">
									<span style="font-size: 1em; color: #fff;"><span ng-if="(totalSessions - lastSessions) > 0">+</span>{{ totalSessions - lastSessions | number:0 }}</span>
									 <span style="font-size: 2em; color: #fff;" ng-if="lastSessions > totalSessions">
										 <i class="icon ion-arrow-down-a"></i>
									</span>
									 <span style="font-size: 2em; color: #fff;" ng-if="lastSessions < totalSessions">
										 <i class="icon ion-arrow-up-a"></i>
									</span>
								</div>
								<div layout="column" flex="70" layout-align="start center" style="padding-top: 10px; margin-bottom: 15px;">
									<span  style="color: #666; font-size: 1.2em;" ng-style="(lastSessions > totalSessions) ? {'color': '#6A0136'} : {'color': '#65A300'}">SESSIONS</span>
									<span flex>&nbsp;</span>
									<span  style="color: #444; font-size: 2em; padding-bottom: 10px;" ng-style="(lastSessions > totalSessions) ? {'color': '#6A0136'} : {'color': '#65A300'}">{{ totalSessions | number:0 }}</span>
									<span  style="color: #999; font-size: 0.8em;">Last Month:</span>
									<span  style="color: #666; font-size: 1.2em; ">{{ lastSessions | number:0 }}</span>
									<span flex>&nbsp;</span>
								</div>
							</div>
						</div>
						<div layout="column" layout-align="start center" style="color: #fff; box-shadow: 1px 1px #e0e0e0; background-color: #fff; border-radius: 6px; width: 280px; height: 150px; margin: 20px;">
							<div layout="row" layout-align="start start" style="width: 100%; height: 100%;">
								<div layout="column" layout-align="center center" ng-style="(lastBounces > totalBounces) ? {'background-color': '#65A300'} : {'background-color': '#77013C'}" flex="30" style="background-color: #228CDB; border-top-left-radius: 6px; border-bottom-left-radius: 6px; font-size: 1.2em; width: 100%; height: 100%;">
									<span style="font-size: 1em; color: #fff;"><span ng-if="(totalBounces - lastBounces) > 0">+</span>{{ totalBounces - lastBounces | number:0 }}</span>
									 <span style="font-size: 2em; color: #fff;" ng-if="lastBounces > totalBounces">
										 <i class="icon ion-arrow-down-a"></i>
									</span>
									 <span style="font-size: 2em; color: #fff;" ng-if="lastBounces < totalBounces">
										 <i class="icon ion-arrow-up-a"></i>
									</span>
								</div>
								<div layout="column" flex="70" layout-align="start center" style="padding-top: 10px; margin-bottom: 15px;">
									<span  style="color: #666; font-size: 1.2em;" ng-style="(lastBounces > totalBounces) ? {'color': '#65A300'} : {'color': '#6A0136'}">BOUNCES</span>
									<span flex>&nbsp;</span>
									<span  style="color: #444; font-size: 2em; padding-bottom: 10px;" ng-style="(lastBounces > totalBounces) ? {'color': '#65A300'} : {'color': '#6A0136'}">{{ totalBounces | number:0 }}</span>
									<span  style="color: #999; font-size: 0.8em;">Last Month:</span>
									<span  style="color: #666; font-size: 1.2em; ">{{ lastBounces | number:0 }}</span>
									<span flex>&nbsp;</span>
								</div>
							</div>
						</div>
						<div layout="column" layout-align="start center" style="color: #fff; box-shadow: 1px 1px #e0e0e0; background-color: #fff; border-radius: 6px; width: 280px; height: 150px; margin: 20px;">
							<div layout="row" layout-align="start start" style="width: 100%; height: 100%;">
								<div layout="column" layout-align="center center" ng-style="(lastBounceRate > totalBounceRate) ? {'background-color': '#65A300'} : {'background-color': '#77013C'}" flex="30" style="background-color: #228CDB; border-top-left-radius: 6px; border-bottom-left-radius: 6px; font-size: 1.2em; width: 100%; height: 100%;">
									<span style="font-size: 1em; color: #fff;"><span ng-if="(totalBounceRate - lastBounceRate) > 0">+</span>{{ totalBounceRate - lastBounceRate | number:2 }}%</span>
									 <span style="font-size: 2em; color: #fff;" ng-if="lastBounceRate > totalBounceRate">
										 <i class="icon ion-arrow-down-a"></i>
									</span>
									 <span style="font-size: 2em; color: #fff;" ng-if="lastBounceRate < totalBounceRate">
										 <i class="icon ion-arrow-up-a"></i>
									</span>
								</div>
								<div layout="column" flex="70" layout-align="start center" style="padding-top: 10px; margin-bottom: 15px;">
									<span  style="color: #666; font-size: 1.2em;" ng-style="(lastBounceRate < totalBounceRate) ? {'color': '#6A0136'} : {'color': '#65A300'}">BOUNCE RATE</span>
									<span flex>&nbsp;</span>
									<span  style="color: #444; font-size: 1.8em; padding-bottom: 10px;" ng-style="(lastBounceRate < totalBounceRate) ? {'color': '#6A0136'} : {'color': '#65A300'}">{{ totalBounceRate | number:2 }}%</span>
									<span  style="color: #999; font-size: 0.8em;">Last Month:</span>
									<span  style="color: #666; font-size: 1.2em; ">{{ lastBounceRate | number:2 }}%</span>
									<span flex>&nbsp;</span>
								</div>
							</div>
						</div>
						<div layout="column" layout-align="start center" style="color: #fff; box-shadow: 1px 1px #e0e0e0; background-color: #fff; border-radius: 6px; width: 280px; height: 150px; margin: 20px;">
							<div layout="row" layout-align="start start" style="width: 100%; height: 100%;">
								<div layout="column" layout-align="center center" ng-style="(lastPageviews > totalPageviews) ? {'background-color': '#77013C'} : {'background-color': '#65A300'}" flex="30" style="background-color: #228CDB; border-top-left-radius: 6px; border-bottom-left-radius: 6px; font-size: 1.2em; width: 100%; height: 100%;">
									<span style="font-size: 1em; color: #fff;"><span ng-if="(totalPageviews - lastPageviews) > 0">+</span>{{ totalPageviews - lastPageviews | number:0 }}</span>
									 <span style="font-size: 2em; color: #fff;" ng-if="lastPageviews > totalPageviews">
										 <i class="icon ion-arrow-down-a"></i>
									</span>
									 <span style="font-size: 2em; color: #fff;" ng-if="lastPageviews < totalPageviews">
										 <i class="icon ion-arrow-up-a"></i>
									</span>
								</div>
								<div layout="column" flex="70" layout-align="start center" style="padding-top: 10px; margin-bottom: 15px;">
									<span  style="color: #666; font-size: 1.2em;" ng-style="(lastPageviews > totalPageviews) ? {'color': '#6A0136'} : {'color': '#65A300'}">PAGE VIEWS</span>
									<span flex>&nbsp;</span>
									<span  style="color: #444; font-size: 2em; padding-bottom: 10px;" ng-style="(lastPageviews > totalPageviews) ? {'color': '#6A0136'} : {'color': '#65A300'}">{{ totalPageviews | number:0 }}</span>
									<span  style="color: #999; font-size: 0.8em;">Last Month:</span>
									<span  style="color: #666; font-size: 1.2em; ">{{ lastPageviews | number:0 }}</span>
									<span flex>&nbsp;</span>
								</div>
							</div>
						</div>
						<div layout="column" layout-align="start center" style="color: #fff; box-shadow: 1px 1px #e0e0e0; background-color: #fff; border-radius: 6px; width: 280px; height: 150px; margin: 20px;">
							<div layout="row" layout-align="start start" style="width: 100%; height: 100%;">
								<div layout="column" layout-align="center center" ng-style="(lastUnique > totalUnique) ? {'background-color': '#77013C'} : {'background-color': '#65A300'}" flex="30" style="background-color: #228CDB; border-top-left-radius: 6px; border-bottom-left-radius: 6px; font-size: 1.2em; width: 100%; height: 100%;">
									<span style="font-size: 1em; color: #fff;"><span ng-if="(totalUnique - lastUnique) > 0">+</span>{{ totalUnique - lastUnique | number:0 }}</span>
									 <span style="font-size: 2em; color: #fff;" ng-if="lastUnique > totalUnique">
										 <i class="icon ion-arrow-down-a"></i>
									</span>
									 <span style="font-size: 2em; color: #fff;" ng-if="lastUnique < totalUnique">
										 <i class="icon ion-arrow-up-a"></i>
									</span>
								</div>
								<div layout="column" flex="70" layout-align="start center" style="padding-top: 10px; margin-bottom: 15px;">
									<span  style="color: #666; font-size: 1.2em;" ng-style="(lastUnique > totalUnique) ? {'color': '#6A0136'} : {'color': '#65A300'}">UNIQUE VIEWS</span>
									<span flex>&nbsp;</span>
									<span  style="color: #444; font-size: 2em; padding-bottom: 10px;" ng-style="(lastUnique > totalUnique) ? {'color': '#6A0136'} : {'color': '#65A300'}">{{ totalUnique | number:0 }}</span>
									<span  style="color: #999; font-size: 0.8em;">Last Month:</span>
									<span  style="color: #666; font-size: 1.2em; ">{{ lastUnique | number:0 }}</span>
									<span flex>&nbsp;</span>
								</div>
							</div>
						</div>
						<div layout="column" layout-align="start center" style="color: #fff; box-shadow: 1px 1px #e0e0e0; background-color: #fff; border-radius: 6px; width: 280px; height: 150px; margin: 20px;">
							<div layout="row" layout-align="start start" style="width: 100%; height: 100%;">
								<div layout="column" layout-align="center center" ng-style="(lastppv > totalppv) ? {'background-color': '#77013C'} : {'background-color': '#65A300'}" flex="30" style="background-color: #228CDB; border-top-left-radius: 6px; border-bottom-left-radius: 6px; font-size: 1.2em; width: 100%; height: 100%;">
									<span style="font-size: 1em; color: #fff;"><span ng-if="(totalppv - lastppv) > 0">+</span>{{ totalppv - lastppv | number:2 }}</span>
									 <span style="font-size: 2em; color: #fff;" ng-if="lastppv > totalppv">
										 <i class="icon ion-arrow-down-a"></i>
									</span>
									 <span style="font-size: 2em; color: #fff;" ng-if="lastppv < totalppv">
										 <i class="icon ion-arrow-up-a"></i>
									</span>
								</div>
								<div layout="column" flex="70" layout-align="start center" style="padding-top: 10px; margin-bottom: 15px;">
									<span  style="color: #666; font-size: 1.2em;" ng-style="(lastppv > totalppv) ? {'color': '#6A0136'} : {'color': '#65A300'}">PAGES / SESSION</span>
									<span flex>&nbsp;</span>
									<span  style="color: #444; font-size: 2em; padding-bottom: 10px;" ng-style="(lastppv > totalppv) ? {'color': '#6A0136'} : {'color': '#65A300'}">{{ totalppv | number:2 }}</span>
									<span  style="color: #999; font-size: 0.8em;">Last Month:</span>
									<span  style="color: #666; font-size: 1.2em; ">{{ lastppv | number:2 }}</span>
									<span flex>&nbsp;</span>
								</div>
							</div>
						</div>

						<div layout="column" layout-align="start center" style="color: #fff; box-shadow: 1px 1px #e0e0e0; background-color: #fff; border-radius: 6px; width: 280px; height: 150px; margin: 20px;">
							<div layout="row" layout-align="start start" style="width: 100%; height: 100%;">
								<div layout="column" layout-align="center center" ng-style="(lastDuration < totalDuration) ? {'background-color': '#65A300'} : {'background-color': '#77013C'}" flex="30" style="background-color: #228CDB; border-top-left-radius: 6px; border-bottom-left-radius: 6px; font-size: 1.2em; width: 100%; height: 100%;">
									<span style="font-size: 1em; color: #fff;"><span ng-if="(totalDuration - lastDuration) > 0">+</span>{{ Math.abs(totalDuration - lastDuration)*1000 | date:'mm:ss' }}</span>
									 <span style="font-size: 2em; color: #fff;" ng-if="lastDuration > totalDuration">
										 <i class="icon ion-arrow-down-a"></i>
									</span>
									 <span style="font-size: 2em; color: #fff;" ng-if="lastDuration < totalDuration">
										 <i class="icon ion-arrow-up-a"></i>
									</span>
								</div>
								<div layout="column" flex="70" layout-align="start center" style="padding-top: 10px; margin-bottom: 15px;">
									<span  style="color: #666; font-size: 1.2em;" ng-style="(lastDuration < totalDuration) ? {'color': '#65A300'} : {'color': '#6A0136'}">DURATION</span>
									<span flex>&nbsp;</span>
									<span  style="color: #444; font-size: 2em; padding-bottom: 10px;" ng-style="(lastDuration < totalDuration) ? {'color': '#65A300'} : {'color': '#6A0136'}">{{ totalDuration*1000 | date:'mm:ss' }}</span>
									<span  style="color: #999; font-size: 0.8em;">Last Month:</span>
									<span  style="color: #666; font-size: 1.2em; ">{{ lastDuration*1000 | date:'mm:ss' }}</span>
									<span flex>&nbsp;</span>
								</div>
							</div>
						</div>
					</section>
				</md-tab-body>
			</md-tab>
			<md-tab class="md-accent" label="Historical Data" >
				<md-tab-body>
					<div layout="row" layout-align="start center" style="width: 100%; min-height: 2400px; background-color: #f7f7f7;">
						<div layout="column" style="width: 100%; ">
							<div layout="row" layout-align="start start" style=" background-color: #f7f7f7; width: 100%; ">
								<md-card style="box-shadow: none; position: absolute; top: 20px; left: 60px; width: 550px; height: 320px; background-color: #fff; border-radius: 6px; ">&nbsp;</md-card>
								<div layout="column" flex >
									<span style=" border-bottom: 1px solid #3A1772; position: absolute; width: 350px; top: 30px; left: 70px;"><h1 style="color: #3A1772; font-family: 'Roboto'; font-size: 24px; margin-top: 10px; margin-left: 40px;">Impressions</h1></span>
									<div id="impressions-linechart" style="position: absolute; top: 0; left: 0; height: 300px;  z-index: 0; padding: 0; margin: 0; background: none; ">
									</div>
									<div id="impressions-barchart" style="position: absolute; top: 20px; left: 0; height: 320px;  z-index: 1; padding: 0; margin: 0; background: none; opacity: 0.9;">
									</div>
								</div>
								<div layout="column" flex >
									<md-card style="box-shadow: none; position: absolute; top: 20px; left: 660px; width: 550px; height: 320px; background-color: #fff; border-radius: 6px; ">&nbsp;</md-card>
									<span style="border-bottom: 1px solid #3A1772; position: absolute; width: 350px; top: 30px; left: 670px;"><h1 style="color: #3A1772; font-family: 'Roboto'; font-size: 24px; margin-top: 10px; margin-left: 40px;">Clicks</h1></span>
									<div id="clicks-linechart" style="position: absolute; top: 0; left: 600px; height: 300px;  z-index: 0; padding: 0; margin: 0; background: none; ">
									</div>
									<div id="clicks-barchart" style="position: absolute; top: 20px; left: 600px; height: 320px;  z-index: 1; padding: 0; margin: 0; background: none; opacity: 0.9;">
									</div>
								</div>
							</div>
							<div layout="row" layout-align="start start" style="background-color: #f7f7f7; width: 100%; ">
								<div layout="column" flex >
									<md-card style="box-shadow: none; position: absolute; top: 400px; left: 60px; width: 550px; height: 320px; background-color: #fff; border-radius: 6px; ">&nbsp;</md-card>
									<span style="border-bottom: 1px solid #3A1772; position: absolute; width: 350px; top: 410px; left: 70px;"><h1 style="color: #3A1772; font-family: 'Roboto'; font-size: 24px; margin-top: 10px; margin-left: 40px;">CTR</h1></span>
									<div id="ctr-linechart" style="position: absolute; top: 400px; left: 0; height: 300px;  z-index: 0; padding: 0; margin: 0; background: none; ">
									</div>
									<div id="ctr-barchart" style="position: absolute; top: 420px; left: 0; height: 320px;  z-index: 1; padding: 0; margin: 0; background: none; opacity: 0.9;">
									</div>
								</div>
								<div layout="column" flex >
									<md-card style="box-shadow: none; position: absolute; top: 400px; left: 660px; width: 550px; height: 320px; background-color: #fff; border-radius: 6px; ">&nbsp;</md-card>
									<span style="border-bottom: 1px solid #3A1772; position: absolute; width: 350px; top: 410px; left: 670px;"><h1 style="color: #3A1772; font-family: 'Roboto'; font-size: 24px; margin-top: 10px; margin-left: 40px;">Position</h1></span>
									<div id="position-linechart" style="position: absolute; top: 400px; left: 600px; height: 300px;  z-index: 0; padding: 0; margin: 0; background: none; ">
									</div>
									<div id="position-barchart" style="position: absolute; top: 420px; left: 600px; height: 320px;  z-index: 1; padding: 0; margin: 0; background: none; opacity: 0.9;">
									</div>
								</div>
							</div>
							<div layout="row" layout-align="start start" style="background-color: #f7f7f7; width: 100%; ">
								<div layout="column" flex >
									<md-card style="box-shadow: none; position: absolute; top: 800px; left: 60px; width: 550px; height: 320px; background-color: #fff; border-radius: 6px; ">&nbsp;</md-card>
									<span style="border-bottom: 1px solid #3A1772; position: absolute; width: 350px; top: 810px; left: 70px;"><h1 style="color: #3A1772; font-family: 'Roboto'; font-size: 24px; margin-top: 10px; margin-left: 40px;">Page Load</h1></span>
									<div id="pageload-linechart" style="position: absolute; top: 800px; left: 0; height: 300px;  z-index: 0; padding: 0; margin: 0; background: none; ">
									</div>
									<div id="pageload-barchart" style="position: absolute; top: 820px; left: 0; height: 320px;  z-index: 1; padding: 0; margin: 0; background: none; opacity: 0.9;">
									</div>
								</div>
								<div layout="column" flex >
									<md-card style="box-shadow: none; position: absolute; top: 800px; left: 660px; width: 550px; height: 320px; background-color: #fff; border-radius: 6px; ">&nbsp;</md-card>
									<span style="border-bottom: 1px solid #3A1772; position: absolute; width: 350px; top: 810px; left: 670px;"><h1 style="color: #3A1772; font-family: 'Roboto'; font-size: 24px; margin-top: 10px; margin-left: 40px;">Sessions</h1></span>
									<div id="sessions-linechart" style="position: absolute; top: 800px; left: 600px; height: 300px;  z-index: 0; padding: 0; margin: 0; background: none; ">
									</div>
									<div id="sessions-barchart" style="position: absolute; top: 820px; left: 600px; height: 320px;  z-index: 1; padding: 0; margin: 0; background: none; opacity: 0.9;">
									</div>
								</div>
							</div>
							<div layout="row" layout-align="start start" style="background-color: #f7f7f7; width: 100%; ">
								<div layout="column" flex >
									<md-card style="box-shadow: none; position: absolute; top: 1200px; left: 60px; width: 550px; height: 320px; background-color: #fff; border-radius: 6px; ">&nbsp;</md-card>
									<span style="border-bottom: 1px solid #3A1772; position: absolute; width: 350px; top: 1210px; left: 70px;"><h1 style="color: #3A1772; font-family: 'Roboto'; font-size: 24px; margin-top: 10px; margin-left: 40px;">Bounces</h1></span>
									<div id="bounces-linechart" style="position: absolute; top: 1200px; left: 0; height: 300px;  z-index: 0; padding: 0; margin: 0; background: none; ">
									</div>
									<div id="bounces-barchart" style="position: absolute; top: 1220px; left: 0; height: 320px;  z-index: 1; padding: 0; margin: 0; background: none; opacity: 0.9;">
									</div>
								</div>
								<div layout="column" flex >
									<md-card style="box-shadow: none; position: absolute; top: 1200px; left: 660px; width: 550px; height: 320px; background-color: #fff; border-radius: 6px; ">&nbsp;</md-card>
									<span style="border-bottom: 1px solid #3A1772; position: absolute; width: 350px; top: 1210px; left: 670px;"><h1 style="color: #3A1772; font-family: 'Roboto'; font-size: 24px; margin-top: 10px; margin-left: 40px;">Bounce Rate</h1></span>
									<div id="bouncerate-linechart" style="position: absolute; top: 1200px; left: 600px; height: 300px;  z-index: 0; padding: 0; margin: 0; background: none; ">
									</div>
									<div id="bouncerate-barchart" style="position: absolute; top: 1220px; left: 600px; height: 320px;  z-index: 1; padding: 0; margin: 0; background: none; opacity: 0.9;">
									</div>
								</div>
							</div>
							<div layout="row" layout-align="start start" style="background-color: #f7f7f7; width: 100%; ">
								<div layout="column" flex >
									<md-card style="box-shadow: none; position: absolute; top: 1600px; left: 60px; width: 550px; height: 320px; background-color: #fff; border-radius: 6px; ">&nbsp;</md-card>
									<span style="border-bottom: 1px solid #3A1772; position: absolute; width: 350px; top: 1610px; left: 70px;"><h1 style="color: #3A1772; font-family: 'Roboto'; font-size: 24px; margin-top: 10px; margin-left: 40px;">Page Views</h1></span>
									<div id="pageviews-linechart" style="position: absolute; top: 1600px; left: 0; height: 300px;  z-index: 0; padding: 0; margin: 0; background: none; ">
									</div>
									<div id="pageviews-barchart" style="position: absolute; top: 1620px; left: 0; height: 320px;  z-index: 1; padding: 0; margin: 0; background: none; opacity: 0.9;">
									</div>
								</div>
								<div layout="column" flex >
									<md-card style="box-shadow: none; position: absolute; top: 1600px; left: 660px; width: 550px; height: 320px; background-color: #fff; border-radius: 6px; ">&nbsp;</md-card>
									<span style="border-bottom: 1px solid #3A1772; position: absolute; width: 350px; top: 1610px; left: 670px;"><h1 style="color: #3A1772; font-family: 'Roboto'; font-size: 24px; margin-top: 10px; margin-left: 40px;">Unique Views</h1></span>
									<div id="uniqueviews-linechart" style="position: absolute; top: 1600px; left: 600px; height: 300px;  z-index: 0; padding: 0; margin: 0; background: none; ">
									</div>
									<div id="uniqueviews-barchart" style="position: absolute; top: 1620px; left: 600px; height: 320px;  z-index: 1; padding: 0; margin: 0; background: none; opacity: 0.9;">
									</div>
								</div>
							</div>
							<div layout="row" layout-align="start start" style="background-color: #f7f7f7; width: 100%; ">
								<div layout="column" flex >
									<md-card style="box-shadow: none; position: absolute; top: 2000px; left: 60px; width: 550px; height: 320px; background-color: #fff; border-radius: 6px; ">&nbsp;</md-card>
									<span style="border-bottom: 1px solid #3A1772; position: absolute; width: 350px; top: 2010px; left: 70px;"><h1 style="color: #3A1772; font-family: 'Roboto'; font-size: 24px; margin-top: 10px; margin-left: 40px;">Pages / Session</h1></span>
									<div id="ppv-linechart" style="position: absolute; top: 2000px; left: 0; height: 300px;  z-index: 0; padding: 0; margin: 0; background: none; ">
									</div>
									<div id="ppv-barchart" style="position: absolute; top: 2020px; left: 0; height: 320px;  z-index: 1; padding: 0; margin: 0; background: none; opacity: 0.9;">
									</div>
								</div>
								<div layout="column" flex >
									<md-card style="box-shadow: none; position: absolute; top: 2000px; left: 660px; width: 550px; height: 320px; background-color: #fff; border-radius: 6px; ">&nbsp;</md-card>
									<span style="border-bottom: 1px solid #3A1772; position: absolute; width: 350px; top: 2010px; left: 670px;"><h1 style="color: #3A1772; font-family: 'Roboto'; font-size: 24px; margin-top: 10px; margin-left: 40px;">Duration</h1></span>
									<div id="duration-linechart" style="position: absolute; top: 2000px; left: 600px; height: 300px;  z-index: 0; padding: 0; margin: 0; background: none; ">
									</div>
									<div id="duration-barchart" style="position: absolute; top: 2020px; left: 600px; height: 320px;  z-index: 1; padding: 0; margin: 0; background: none; opacity: 0.9;">
									</div>
								</div>
							</div>
						</div>
					</div>
					<section layout="column" layout-align="center center" style="width: 100%; margin-left: 20px;">

					</section>
				</md-tab-body>
			</md-tab>
		</md-tabs>
	</md-content>
</md-content>